.portfolio__head{
    /*max-width:1152px;*/
    width:100%;
    height: 240px;
    /*width:1152px;*/
    /*height: auto;*/
    margin:0 auto;
    background-image: url("../../../images/portfolio_head_sign.png");
    background-repeat:no-repeat;
    background-position: center;
    background-size: contain;
    /*position:relative;*/


}