.card__button{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;

    color: #FE9401;

    background-image: url("../../../images/sticker-button-481x60.png");
    background-repeat:no-repeat;
    background-size: contain;

    border:none;
    background-color: transparent;

    max-width:486px;
    max-height: 77px;

    grid-row: 3/4;
}