.card__image{
    grid-row:1/4;
    grid-column: 2/3;
    align-self: center;
    justify-self: center;
    width: 100%;
     overflow:hidden;
    transition: 3s;
    opacity: 0;
}

@media screen and (max-width: 984px) {
    .card__image{
        /*max-height: 330px;*/
    }
}

path  {
    /*stroke: green;*/
    /*stroke: linear-gradient(90deg, rgba(138,35,135,1) 0%, rgba(233,64,87,1) 48%, rgba(170,67,3,1) 100%);*/
    stroke-width: .5px;
    stroke-dasharray: 1200;
    stroke-dashoffset:1200;
    animation: draw 2s ease-in-out forwards;
}

@keyframes draw {
    100%{
        stroke-dashoffset: 0;
    }
}