.text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;

    color: #000000;

    transform: translate(0, 120%);
    opacity: 0;
    transition: all 0.8s ease 0s;
}