.intro__img{
    position: absolute;
    left: 800px;
    top:0;
   /* position: relative;*/
   /*bottom: 490px;*/
   /*left:630px;*/
}

@media screen and (max-width: 1140px){
    .intro__img{
        left:700px;
    }

}@media screen and (max-width: 930px){
    .intro__img{
        display: none;
    }
}